resumption of the session
i declare resumed the session of the european parliament adjourned on friday 17 december 1999 , and i would like once again to wish you a happy new year in the hope that you enjoyed a pleasant festive period .
although , as you will have seen , the dreaded 'millennium bug ' failed to materialise , still the people in a number of countries suffered a series of natural disasters that truly were dreadful .
you have requested a debate on this subject in the course of the next few days , during this part-session .
in the meantime , i should like to observe a minute 's silence , as a number of members have requested , on behalf of all the victims concerned , particularly those of the terrible storms , in the various countries of the european union .
