my group can see no reason not to grant discharge for the 1996 budget .
i hope that the new parliament and the new commission will make use of them .
it is a coincidence , but perhaps a fortunate one , that this very week when we are in the last week of the life of this house , we are also in the first week of the life of the amsterdam treaty .
i do not agree with a harmonised tax system or with - as mr berthu said - many of the harmonisations that are going on within the eu .
- ( fr ) the cfsp , which was first launched by the maastricht treaty , has found it hard to make its mark .
