mi grupo no ve razón alguna para no conceder la aprobación de la gestión correspondiente al presupuesto de 1996 .
espero que el nuevo parlamento y la nueva comisión puedan hacer uso de ellas .
es una coincidencia , aunque quizá una feliz coincidencia , que esta misma semana , que es la última de la legislatura de esta asamblea , sea también la primera semana de vida del tratado de amsterdam .
no estoy de acuerdo con un sistema fiscal armonizado ni - como ha dicho el sr. berthu - con muchas de las armonizaciones que se están llevando a cabo en la ue .
- ( fr ) la pesc , inaugurada por el tratado de maastricht , ha vivido dificultades para encontrar sus signos distintivos .
